$backg-color:hsl(0, 0%, 98%);
$primary-color: hsl(12, 88%, 59%);
$secondary-color:hsl(228, 39%, 23%);
$text-color: hsl(32, 100%, 95%);
$footer: hsl(233, 12%, 13%);
$font-family:'Be Vietnam', sans-serif;
$font-weight:(
    "regular": 400,
    "bold": 500,
    "grande": 700,
);
$font-size: 16px;